<!DOCTYPE html>
<% include parts/_ifIE %>
<head>
<% title = 'index｜wdff' %>
<% include parts/_meta %>

<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div class="bg-warning">
    <div class="container">
      <h1 class="top-title">What language do you like?</h1>
    </div>
  </div>
</header>
<div class="container">
  <h2>For everything you build</h2>
  <p>(」・ω・)」うー！(／・ω・)／にゃー！　(」・ω・)」うー！(／・ω・)／にゃー！</p>
  <div class="box-categories">
    <h2>Category</h2>
    <div class="row block10">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/java.jpg" alt="" class="img-rounded top-thumbnail">
          <div class="caption">
            <h3>Java</h3>
            <p>任天堂が2月10日に、古くから「マリオ」シリーズや自社CMのジングルでおなじみの「コイン音」を、音商標として出願し...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/cplus.jpg" alt="" class="img-rounded top-thumbnail">
          <div class="caption">
            <h3>C++</h3>
            <p>Appleの歴史を彩る数々の発表が行われてきた本社ビルディング4のタウンホール。席数わずか200名ほどの同会場で行われた...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/csharp.jpg" alt="" class="img-roudned top-thumbnail">
          <div class="caption">
            <h3>C#</h3>
            <p>任天堂は23日、据え置き型ゲーム機「Wii U」の生産を年内にも終了するとの日本経済新聞の記事について「当社からの...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/php.jpg" alt="" class="img-rounded top-thumbnail">
          <div class="caption">
            <h3>PHP</h3>
            <p>3月23日、コミュニケーションアプリ「LINE」において複数人と同時に音声通話ができるグループ通話機能の提供が開始されました。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row block10">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/perl.jpg" alt="" class="img-rounded top-thumbnail">
          <div class="caption">
            <h3>Perl</h3>
            <p>昨年１２月に米カリフォルニア州で起きたテロの容疑者が使っていたｉＰｈｏｎｅ（アイフォーン）の「ロック解除」を巡り...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/ruby.jpg" alt="" class="img-rounded top-thumbnail">
          <div class="caption">
            <h3>Ruby</h3>
            <p>アップルは現地3月21日に新製品発表イベントをカリフォルニア州クパチーノの本社で開催した。常に注目を集めるアップルの...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/python.jpg" alt="" class="img-rounded top-thumbnail">
          <div class="caption">
            <h3>Python</h3>
            <p>米Appleは3月21日（現地時間）、iOS搭載タブレット「iPad Pro」の9.7インチモデルを発表した。昨年9月に発表した...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail thumbnail-cel">
          <img src="/images/thumb/js.jpg" alt="" class="img-rounded top-thumbnail">
          <div class="caption">
            <h3>Javascript</h3>
            <p>携帯電話大手３社が、２年ごとに契約を自動更新し、更新月以外の月に解約すると高額の違約金を取られる、いわゆる,,,</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  </div>

  <div id="js-area">
    js-area
  </div>

  <hr>
</div>

<script src="js/top.bundle.js"></script>
</body>
</html>
